# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here
MODEL_API_KEY=
MODEL_BASE_URL=
MODEL_NAME=

OCR_NAME=
OCR_BASE_URL=
OCR_API_KEY=
